
body{
    background-color: rgb(255, 255, 255); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body > header {background-color: antiquewhite
}
footer{background-color: antiquewhite;

}
footer {background-color: antiquewhite;

}